// Descriptive color variables

$white: #fff;
$lightslategrey: lightslategrey;

// Navigation color

$bk-color: #6495ed;
$txt-color: #fdf5e6;
$hover: #000080;
$f-hover: #191970;

$center: center;

// Text modification

$t-transform: uppercase;

// Image

$b-color: #cccc;

// Horizontal line
$border: 1px solid #fffaf0;
$bx-shadow: 0 8px 6px -6px black;

// Media Queries

$medium: 769px;
$large: 1024px;
