/* ********************************* Image ********************************* */

img {
  max-width: 100%;
}

.col-img {
  border-radius: 8px;
}

.skills-img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  &:hover {
    -webkit-transform: scale(1.1) translateY(20px);
    -ms-transform: scale(1.1) translateY(20px);
    transform: scale(1.1) translateY(20px);
  }
}

.p-image {
  padding: 10px;
  background-color: lighten($b-color, 60%);
  border: 1.2px solid $b-color;
  border-radius: 3px;
}
